{% capture email_title %}Reset your password{% endcapture %}
{% capture email_body %}Follow this link to reset your account password.{% endcapture %}

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <!-- To be inlined -->
  <link rel="stylesheet" type="text/css" href="assets/notifications/style.css">
  <link rel="stylesheet" type="text/css" href="assets/notifications/inline-styles.css">
</head>

  <body>
    <table class="body">
      <tr>
        <td>

          <!-- @@include('header.liquid') -->

          <table class="row content">
            <tr>
              <td class="content__cell">
                <center>
                  <table class="container">
                    <tr>
                      <td>
                        <h2 class="text-center">{{ email_title }}</h2>
                        <p class="text-center">{{ email_body }}</p>
                        <table class="row actions">
                          <tr>
                            <td class="actions__cell">
                              <table class="button main-action-cell">
                                <tr>
                                  <td class="button__cell"><a href="{{ customer.reset_password_url }}" class="button__text">Reset your password</a></td>
                                </tr>
                              </table>
                            
                            
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td >
                        <p class="text-muted mt-3">
                          If this is your account but you didn’t request a password change, you can resert your password here. If you’re having trouble, please contact our Support team.
                        </p>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>

          <!-- @@include('footer.liquid') -->

        </td>
      </tr>
    </table>
  </body>
</html>
